.CardComponent{
    background-color: whitesmoke;
    border-radius: 5px;
    aspect-ratio: 16/9;
    overflow: hidden;
    background-size: 100% 100%;
    background-position: center;
    transition: all .5s;
}
.CardComponent > div{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.439);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    cursor: pointer;
}
.CardComponent > div :is(h2, p){
    color: white;
    padding: 0;
    margin: 0;
}
.CardComponent > div h2{
    font-size: 1.3rem;
}
.CardComponent > div p{
    opacity: .8;
    margin-top: 20px;
    max-width: 25ch;
    font-size: 1rem;
    margin-bottom: 40px;
}
.CardComponent:hover{
    background-size: 120% 120%;
}